*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: aliceblue;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #fbf8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
        padding: 20px;
        background-color: #090808;
        border-radius: 10px;

}
input{
    padding: 10px;
    border: 1px solid #fff;
    outline: none;
    background-color: #0a0a0a;
    border-radius: 10px;
    color: rgb(254, 250, 250);
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
li{
    cursor: pointer;
    display: flex;
    /* list-style: lower-alpha; */
    font-size: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}